{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex justify-content-center p-5">
  <div class="card border-primary mb-3" style="max-width: 38rem;">
    <div class="card-header text-center"><h4>Post edit</h4></div>
      <form action="" method="post" enctype="multipart/form-data" class="p-4">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Edit post" class="btn btn-info rounded">
      </form>
    </div>
</div>
{% endblock %}