{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="tm-hero d-flex justify-content-center align-items-center" id="tm-video-container">
        <video autoplay muted loop id="tm-video">
            <source src="{% static 'video/hero.mp4' %}" type="video/mp4">
        </video>  
        <i id="tm-video-control-button" class="fas fa-pause"></i>
        <form class="d-flex position-absolute tm-search-form" method="get">
            <input class="form-control tm-search-input" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-2 tm-text-primary">
               <a href=""> Latest Videos</a>
            </h2>
            {% if categories %}
            <ul class="nav justify-content-center col-8">
                {% for category in categories %}
                <li class="nav-item"><a href="/videos/?category={{category.pk}}" class="nav-link">{{category.name}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="col-2 d-flex justify-content-end align-items-center">
                <form action="" method="get" class="tm-text-primary">
                    Page <input type="text" name="page" value="1" size="1" class="tm-input-paging tm-text-primary"> of {{pages.num_pages}}
                </form>
            </div>
        </div>

        <div class="row tm-mb-90 tm-gallery">
            {% if postvideo %}
            {% for post in postvideo %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="{{ post.video.url }}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>{{post.title}}</h2>
                        <a href="{% url 'video_detail' post.pk %}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>{{post.date}}</span>
                    <span>{{post.author}}</span>
                </div>
                <div class="d-flex justify-content-between tm-text-gray">
                    <strong class="text-secondary"><i class="far fa-heart mr-2" style="font-size:20px;"></i>{{ post.number_of_likes }} likes</strong>
                    
                    <strong class="text-secondary"><i class=" far fa-eye"></i> {{ post.total_views }}  views</strong>
                </div>
            </div>  
            {% endfor %}
            {% else %}
            <h2>Kontent topilmadi.</h2>
            {% endif %}     
        </div> <!-- row -->
        <div class="row tm-mb-90">
            {% if is_paginated %}
            <ul class="pagination ml-5">
                {% if pages.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ pages.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="?page={{ pages.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for i in pages.page_range %}
                {% if pages.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}
                {% if pages.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ pages.next_page_number }}">Next</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="?page={{ pages.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>  
            {% endif %}   
        </div>
    </div> <!-- container-fluid, tm-container-content -->

    
    <script>

        $(function(){
            /************** Video background *********/

            function setVideoSize() {
                const vidWidth = 1280;
                const vidHeight = 720;
                const maxVidHeight = 400;
                let windowWidth = window.innerWidth;
                let newVidWidth = windowWidth;
                let newVidHeight = windowWidth * vidHeight / vidWidth;
                let marginLeft = 0;
                let marginTop = 0;
            
                if (newVidHeight < maxVidHeight) {
                    newVidHeight = maxVidHeight;
                    newVidWidth = newVidHeight * vidWidth / vidHeight;
                }
            
                if(newVidWidth > windowWidth) {
                    marginLeft = -((newVidWidth - windowWidth) / 2);
                }
            
                if(newVidHeight > maxVidHeight) {
                    marginTop = -((newVidHeight - $('#tm-video-container').height()) / 2);
                }
            
                const tmVideo = $('#tm-video');
            
                tmVideo.css('width', newVidWidth);
                tmVideo.css('height', newVidHeight);
                tmVideo.css('margin-left', marginLeft);
                tmVideo.css('margin-top', marginTop);
            }

            setVideoSize();

            // Set video background size based on window size
            let timeout;
            window.onresize = function () {
                clearTimeout(timeout);
                timeout = setTimeout(setVideoSize, 100);
            };

            // Play/Pause button for video background      
            const btn = $("#tm-video-control-button");

            btn.on("click", function (e) {
                const video = document.getElementById("tm-video");
                $(this).removeClass();

                if (video.paused) {
                    video.play();
                    $(this).addClass("fas fa-pause");
                } else {
                    video.pause();
                    $(this).addClass("fas fa-play");
                }
            });
        });
    </script>
{% endblock %}